<tr>
	<td style="color:#485360;font:400 20px/20px Arial;padding:2.3rem 7% 23px;text-align:center">
		Olá, <strong>{{ deliveryman }},</strong>
    <br />
    Uma encomenda foi cancelada,
    <br />
    confira os detalhes abaixos:
	</td>
  <br/>
</tr>
  <td style="color:#485360;font:400 14px/14px Arial;padding:1rem 7% 23px;text-align:center">
    <strong>Produto: </strong> {{ product }}
    <br />
    <strong>Motivo: </strong> {{ description }}
    <br />
		<strong>Destinatário: </strong> {{ destinatario }}
    <br />
    <br />
    <strong>Endereço: </strong>
    <br />
    <p>Rua: {{rua}}</p>
    <p>Número: {{numero}}</p>
    <p>Complemento: {{complemento}}</p>
    <p>Cidade: {{cidade}}</p>
    <p>Estado: {{estado}}</p>
    <p>Cep: {{cep}}</p>
    <br />
    <br />
    <small>
      Você poderá obter mais detalhes no sistema
    </small>
	</td>
</tr>
